@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

* {
	@apply transition-colors duration-150;
}

:root {
	font-family: 'Inter', sans-serif;
}

.light {
	--background-color: 255, 255, 255;
	--text-color: 0, 0, 0;
	--input-bg: 227, 219, 219;
}

.dark {
	--background-color: 0, 0, 0;
	--text-color: 255, 255, 255;
	--input-bg: 61, 55, 55;
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

.scrollbar-hidden {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.markup p,
h3,
li,
h2 {
	padding-bottom: 12px;
}
